<!-- RD Header -->
<header class="rd-header  alt">
	<div class="container">
    	<div class="flex-container  span-grid--space  vac  strict">

			<a href="/" class="rd-logo-link">
				<img src="{{asset('images/rd-images/rd-logo--colour.svg')}}" alt="Site Maker XL Logo" class="rd-logo">
			</a>

			<a class="rd-menu-toggle" id="rd-menu-toggle">
				<span class="rd-menu-icon"></span>
			</a>

			<!-- RD Navigation -->
			<nav class="rd-nav-main">

				<ul class="rd-nav-menu">
					<li class="rd-nav-item">
						<a href="/tour" class="rd-nav-link">Site Maker XL</a>
					</li>
					<li class="rd-nav-item">
						<a href="/seo" class="rd-nav-link">SEO</a>
					</li>
					<li class="rd-nav-item">
						<a href="/ox" class="rd-nav-link">Email</a>
					</li>
					<li class="rd-nav-item">
						<a href="/cakemail" class="rd-nav-link">E-marketing</a>
					</li>
					<li class="rd-nav-item">
						<a href="/blog" class="rd-nav-link">Blog</a>
					</li>
					<li class="rd-nav-item">
						<a href="https://portal.sitemakerxl.nl/clientarea.php" class="button  sml">Customer portal log in</a>
					</li>
					<li class="rd-nav-item">
						<a href="/smx-demo" class="button  sml">Start now!</a>
					</li>
				</ul>

			</nav>
			<!-- End RD Navigation -->

		</div>
	</div>
</header>