<!-- RD Video -->
<div class="rd-video-wrapper">

	<div class="rd-video" data-vide-bg="mp4: https://basekit-packages.s3.amazonaws.com/bk-feature-video.mp4, webm: https://basekit-packages.s3.amazonaws.com/bk-feature-video.webm, poster: https://basekit-packages.s3.amazonaws.com/rd-feature-video.jpg" data-vide-options="posterType: jpg"></div>

	<div class="rd-video-poster"></div>

	{% include "includes/rd-header.twig" %}

	<!-- RD Video Content -->
	<div class="rd-video-content">
		<div class="container">

			<!-- WP Feature Content -->
			<div class="rd-video-content-wrapper">

				<h1 class="rd-video-title">Websites <br>for<br>entrepreneurs</h1>
				<h3 class="rd-video-subtitle">Build a crazy, responsive website, blog or webshop.</h3>
				<h4 class="rd-video-subtitle">Let us inform you without obligation, call 085-27 33 027</h4>
				<button href="#" class="vimeo-launch  play-button" data-vimeo-id="116324533" data-label="Launch Vimeo Lightbox">Play Video</button>

			</div>

		</div>
	</div>

	<!-- RD Partner Bar -->
	<div class="rd-partner-bar">

		<ul class="partner-bar-list">
			<li class="partner-bar-list-item  partner-bgs  nr1">
				<span class="sprite-item  nr1"></span>
			</li>
			<li class="partner-bar-list-item  partner-bgs  nr2">
				<span class="sprite-item  nr2"></span>
			</li>
			<li class="partner-bar-list-item  partner-bgs  nr3">
				<span class="sprite-item  nr3"></span>
			</li>
			<li class="partner-bar-list-item  partner-bgs  nr4">
				<span class="sprite-item  nr4"></span>
			</li>
			<li class="partner-bar-list-item  partner-bgs  nr5">
				<span class="sprite-item  nr5"></span>
			</li>
		</ul>

	</div>

</div>
